* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root, .App {
    width: 100%;
}

.ejemplo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid lightgray;
    color: lightgray;
    padding: 2rem;
    height: 90vh;
}